
.section_img img {
    width: 250px;
    height: 250px;
   
}
.section_img {
    display: flex;
    justify-content: center;
    position: relative;


}
.section_img_1 {
    display: flex;
    justify-content: center;
    position: relative;

}
.section_img_1 img {

    position: absolute;
    width: 150px !important;
    height: 150px;
    left: -204px;
    top: 48px;
    
}
.section1_text h1 {
    display: flex;
    justify-content: center;

}
.section1_text p {
    display: flex;
    justify-content: center;

}
input[type=text] {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }
  .section_pa {
      display: flex;
      justify-content: center;

  }

  .section_input {
    display: flex;
    justify-content: center;

  }
  .section_input input {
      background: linear-gradient(256.28deg, #1C94F4 0%, #1273EA 100%);
      width: 88px;
      height: 40px;
      border-radius: 8px;

  }
  .container {
      max-width: 375px;
      justify-content: center;
      margin: auto;

  }
  .container1 {
      justify-content: center;
      display: flex;
      margin: auto;
      
  }
  .section_form input {
    width: 336px;
    justify-content: center;
    display: flex;
  }
  label {
    
    margin-right: 150px;
  }
  .section_button {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    width: 336px;

  }

  .section_button_left input {
    background: #F7F9FC;
    width: 160px;
    height: 40px;
    border-radius: 8px;

  }
  .section_button_right input {
    background: linear-gradient(256.28deg, #1C94F4 0%, #1273EA 100%);
    width: 160px;
    height: 40px;
    border-radius: 8px;

  }
  .section2_icon img {
    margin-right: 100px;
    margin-top: 10px;
  }
  .section2_firts {
      display: flex;
  }
   .text1 {
    background: #EDF1F7;


  }
  .section_button {
      margin-top: 80px;
  }
  .section3_firts {
    display: flex;
}
.container2{
   
        justify-content: center;
        display: flex;
        margin-top: 135px;
    

}
.section3_icon img {
    margin-right: 100px;
    margin-top: 10px;
  }
  .section3_text {

    margin-right: 100px;


  }
  .section_row  img  {
    width: 38px;
    height: 36px;

  }
  .section_row {
      font-size: 14px;
      
      
  }
  .section_row1 {
      display: flex;

  }
  .section_row1_text {
    margin-left: 20px;


  }
  .section_row1 img {
    margin-top: 22px;
  }

  